.create-apt__inputGroup {
  display: flex;
  gap: 12px; /* Increase the gap */
  margin-top: 24px; /* Increase the margin */
}
.create-apt__inputGroup:first-child {
  margin-top: 0;
}
.inputGroup-select {
  font-family:
    Open Sans,
    sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0 24px 0; /* Add bottom margin to increase spacing */
  padding: 8px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #000000; /* Add a bottom border only */
  outline: none; /* Remove the default outline on focus */
  max-width: 210px;
}
.inputGroup-select:focus {
  border-bottom-color: #ce4141; /* Change bottom border color on focus */
}
.inputGroup-option {
  color: #000;
  padding: 8px;
}
.inputGroup-datePicker {
  font-family:
    Open Sans,
    sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0 24px 0; /* Add bottom margin to increase spacing */
  padding: 8px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
  max-width: 210px;
}
.inputGroup-datePicker &:focus {
  border-bottom-color: #ce4141;
}
.inputGroup-labelStyle {
  font-family:
    Open Sans,
    sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0 20px 0; /* Add bottom margin to increase spacing */
  padding: 8px;
  font-size: 16px;
  border: none; /* Remove all borders */
  border-bottom: 2px solid #000000; /* Add bottom border */
  outline: none; /* Remove the default outline on focus */
  max-width: 210px;
}
.inputGroup-labelStyle:focus {
  border-bottom-color: #ce4141; /* Ensure the bottom border color remains on focus */
}
.inputGroup-errMsg {
  color: red;
  font-size: 12px;
  margin-left: 60px;
  margin-top: 5px;
  margin-bottom: 10px;
}
