.tomorrow-apt__container {
  max-width: 1200px;
  margin: 0 auto -40px;
  padding: 20px;
}
.table-container {
  padding-top: 20px;
}
.table-container > h2 {
  font-size: 20px;
  font-weight: 700;
  color: #2c3e50;
}
.table-look {
  font-family: "Plus Jakarta Sans", sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.th-column {
  border: 1px solid #1a252f;
  text-align: left;
  padding: 8px;
}
.td-row {
  border: 1px solid #1a252f;
  text-align: left;
  padding: 8px;
}
